body
{
    text-align: center;
	background-color: #000000;
	color: #37e220;
	font-family: monospace;
}

img 
{
	width: 10%;
}

#brands
{
	margin-right: 1%;
	text-align: center;
	font-size: 13px;
	background-color: #000000;
	color: #ffffff;
	font-family: monospace;
	border: 2px solid #37e220;
	opacity: 0.9;	
}

#model
{
	margin-right: 1%;
	text-align: center;
	font-size: 13px;
	background-color: #000000;
	color: #ffffff;
	font-family: monospace;
	border: 2px solid #37e220;
	opacity: 0.9;	
}

#year
{
	margin-right: 1%;
	text-align: center;
	font-size: 13px;
	background-color: #000000;
	color: #ffffff;
	font-family: monospace;
	border: 2px solid #37e220;
	opacity: 0.9;	
}

#km
{
	margin-right: 1%;
	text-align: center;
	font-size: 13px;
	background-color: #000000;
	color: #ffffff;
	font-family: monospace;
	border: 2px solid #37e220;
	opacity: 0.9;	
}

#desc
{
	margin-right: 1%;
	text-align: center;
	font-size: 13px;
	background-color: #000000;
	color: #ffffff;
	font-family: monospace;
	border: 2px solid #37e220;
	opacity: 0.9;	
    height: 50px;
}

#email
{
	margin-right: 1%;
	text-align: center;
	font-size: 13px;
	background-color: #000000;
	color: #ffffff;
	font-family: monospace;
	border: 2px solid #37e220;
	opacity: 0.9;
}

#img
{
	margin-top: 2%;
	text-align: center;
	font-size: 13px;
	background-color: #000000;
	font-family: monospace;
	opacity: 0.9;
}

#submit
{
	margin-top: 2%;
	margin-right: 1%;
	text-align: center;
	font-size: 13px;
	background-color: #000000;
	color: #ffffff;
	font-family: monospace;
	border: 2px solid #37e220;
	opacity: 0.9;
}

#footer {
	margin-top: 26%;
	height: auto;
	background-color: 000000;
	padding: 10px;
	border: 2px solid #37e220;
	border-radius: 1px;
	opacity: 0.9;
}
