<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/main.css'>
</head>
<body>
    {% block content %}
    <div style="width: 50%; margin: auto">
        {% for car in cars %}
        <div style="padding: 10px; background-color: #EEE; margin: 20px">
            <h3>Brand: {{brand}}</h3>
            <h3>Model: {{car["model"]}}</h3>
            <h3>Year: {{car["year"]}}</h3>
            <h3>KM: {{car["km"]}}</h3>
            <a href= {{url_for("car", id=car["id"])}}><img src={{car["img"]}} width="384" height="224"></a>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
</body>
</html>