<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Car website</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='static/main.css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
  <div>
    <img src="static/company.png" id="img">
  </div>
  <h1>What type of car are you looking for?</h1>
  {% block content %}
  <div style="width: 50%; margin: auto">
    {% if request.args.get("posted") == "true" %}
    <div class="flashes">
      Ad posted!
    </div>
    {% endif %}

    <form method="GET">
      <select name="brand" id="brand">
        {% for id in ids %}
        <option value="{{id}}">{{ brands[loop.index0] }}</option>
        {% endfor %}
      </select>

      <select name="year" id="year">
        {% for year in range(2000, 2023) %}
        <option value="{{year}}">{{year}}</option>"
        {% endfor %}
      </select>

      <select name="km" id="km">
        {% for km in range(50000, 550000, 50000) %}
        <option value="{{km}}">{{km}}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Submit" id="subbutt">
    </form>

    <h3 id="postad">Looking to sell your car? Post an ad!</h3>
    <a href="/new"><button id="post">Post a new ad</button></a>
    {% if cars %}
      {% for car in cars %}
        <p>
          <button data-carId="{{car.id}}" id="delete">Delete ad</button>
          Model: {{car.model}} Year: {{car.year}} Mileage: {{car.km}}
        </p>
    <p>Model: {{car.model}} Year: {{car.year}} Milage: {{car.km}}</p><img src="{{car.img}}" id="carbb">
    <br>
      {% endfor %}

      {% endif %}

  <script>
    $(document).ready(function() {
      $("#delete").click(function(){
      if (confirm("Are you sure you want to delete this ad?"))
        
          $.ajax({
            url: window.location.href,
            type: "DELETE",
            data: {
              "cardId": parseInt($(this).data("cardId"))
            }
          })
      })
    })
  </script>
  </div>
    {% endblock %}
</body>

<footer id="footer">
  <p>This website was created by Peter Stoychev, Eris Rahimi, Ryan Smith, founders of Group 14 Inc. &copy;</p>
</footer>
</html>