<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='static/main.css'>
</head>
<body>
    <h1>Choose a brand:</h1>
    {% block content %}
    <div style="width: 50%; margin: auto">
        {% for id in ids %}
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Car brand</button>
            <div id="myDropdown" class="dropdown-content">
              <a href={{ url_for("brand", id=id)}}>{{ brands[loop.index0] }}</a>
            </div>
          </div>
        {% endfor %}
    </div>
    {% endblock %}
<script>
    function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
</body>
</html>

